
.ff-Urbanist-xbi {
  font-family: "Urbanist-ExtraBoldItalic" !important;
}

.ff-Urbanist-xli {
  font-family: "Urbanist-ExtraLightItalic" !important;
}

/* */

h1.display-1,
h2.display-2,
h3.display-3,
h4.display-4,
h5.display-5 {
  color: #003366;
  font-family: "Urbanist-ExtraBoldItalic", sans-serif;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #003366 0%,
    #00509e 85%,
    #66a3ff 105%
  );
  
  font-family: "Urbanist-ExtraBoldItalic" !important;;
}
